.miner-field-row {
    display: flex;
    justify-content: center;
}

.miner-cell {
    width: 10px;
    height: 10px;
    padding: 10px;
    box-sizing: content-box;
    user-select: none;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
}

.miner-cell:hover:not([disabled]) {
    background-color: #c7cbc2;
}

.miner-cell[disabled] {
    background-color: #f5ffeb;
    border-color: white;
    cursor: default;
}

.miner-cell.bomb {
    color: red;
    font-size: 30px;
    line-height: 23px;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    transition: color 0.4s, background-color 0.4s, height 0.2s;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.button:active {
    transform: scale(1.05);
}

.button-miner_restart {
    background-color: white;
    color: black;
    border: 2px solid #008cba;
}

.button-miner_restart:hover {
    background-color: #008cba;
    color: white;
}
